:root {
    box-sizing: border-box;
    font-size: calc(0.5em + 1vw);

}
*,::before,::after {
    box-sizing: inherit;
}
body{
    padding: 0%;
    margin: 0%;

}
header{
    font-family:'Monoton', cursive;
    height: 100vh;
    width: 100%;
    background: url(img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     
}
.imagen1 img{
    position: relative;
    
    height: 375px;
    width: 100%;;
}

.menu{
    background-color: #000000;    
    margin-top:0%; 
    padding-top: 0%;
    width: 100%;
    
}
.menu li a{
    text-decoration: none;
    color: #ffffff;
    font-size:25px; 
     
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}
.menu ul li{
    color: #fafafa;
    list-style: none;
    padding: 1em;
}
.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
}
.logo{
    height:110px;
    width:110px;
    position: relative;
    border: #000000;
    z-index: 100;
    padding: 25px;
}
.logo img{
    height: 100%;
    width: 100%;
    object-fit: scale-down;

}
header div{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-column-gap: .3em;
    width: 100%;
}

.container1{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
.container1 h1{
    font-family: 'Monoton', cursive;
    font-size: 100px;
}
.container1 h2{
    margin: 0%;
    padding: 0%;
    font-size: 20px;
}
.container1 a{
    color: #ffffff;
    height:110px;
    width:110px;
}

main img .imagen1{
    height:25px;
    width:100%;
    object-fit: contain;
    position: relative;
    top: 2em;
    margin-bottom: 25px;
}


main img{
    height:50%;
    width:100%;
    object-fit: contain;
    position: relative;
    top: 2em;
    margin-bottom: 25px;
}
main div{
    padding: 0 .5em .5em .5em;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 0.5em;
    border: 1px #c4c4be solid;
    margin: 5px;
}
.read{
    border: none;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #ffa500;
    color:white;
    border-radius: 0.5em;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.read:hover{
    opacity: 0.5;
    cursor: pointer;
}
#contact{
    background-image: url(img/contacus.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 70vh;
}
.sub{
    color: white;
    position: relative;
    width: 100%;
    height: 100%;     
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: .8em;
}
.sub #contactos{
    background: rgba(109, 104, 104, 0.450);

}
main h2{
    color: #612e1d;
}

.sub #contactos h2,p{
    margin: 0%;
    padding: 0%;
}

.sub div:nth-child(1){
    height: 100%;
    width: 70%;
    margin-left: 6em;
}
.sub div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.sub form label{
    padding: 0;
    margin: 15px;
}
.sub form input{
    border-radius: 6px;
    height: 3em;
    width: 100%;
    margin: 15px;
}
.sub form #comm{
    height: 8em;
}
.sub div:nth-child(2){
    position: relative;
    top: 1em;
    padding: 1em;
    height: 90%;
    border-radius: 10px;
   
}
.sub #entrada{
    z-index: 100;
    
}

footer{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    background: #000000;
    color: white;
    justify-content: space-around;
}

footer li a{
    font-family:'Raleway', sans-serif;
    text-decoration: none;
    color: #f5f5f5;
}

footer .copy{
    color: #868076;
    font-size: 15px;
}
.more ul li{
    list-style: none;
}
.social ul li{
    list-style: none;
}

@media only screen and (max-width: 780px) {
    main{
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 400px) {
    main{
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 560px) {
    .sub div{
        height: 80%;
        width: 100%;
        margin-left: 1em;
        padding: 0;
    }
    .sub div:nth-child(1){
        height: 100%;
        width: 100%;
        margin-left: 0;
    }
    .sub div:nth-child(2){
        position: relative;
        top: 1em;
        height: 90%;
        border-radius: 10px;
        background: rgba(88, 70, 70, 0.3);
        backface-visibility: 0.3;
        left: 1em;
    }
}













